<form autocomplete="off" class="flexcol">
    <h1>{{localize "lsnpc.about.title"}}</h1>
    <h3>{{localize "lsnpc.about.version"}} {{version}}</h3>

    <div class="readme">
        <p><a href="https://github.com/trazzm/t2k4e-loot-sheet-npc/blob/master/README.md" title="README"><i class="fas fa-book"></i>{{localize "lsnpc.about.readme"}}</a></p>
    </div>

    <div class="readme">
        <p><a href="https://github.com/trazzm/t2k4e-loot-sheet-npc/blob/master/changelog.md" title="README"><i class="fas fa-book"></i>{{localize "lsnpc.about.changelog"}}</a></p>
    </div>

    <h3>🐛{{localize "lsnpc.about.bugs.title"}}🔧</h3>
    <p>{{localize "lsnpc.about.bugs.content"}}</p>
    <p><a href="https://github.com/trazzm/t2k4e-loot-sheet-npc/issues">github.com/trazzm/t2k4e-loot-sheet-npc/issues</a></p>
    <hr />

    <div class="patrons">
        <p>{{localize "lsnpc.about.contribs.title"}}</p>
        <table>
            <thead>
            <tr>
                <th style="text-align: left">  {{localize "lsnpc.about.contribs.header.name"}}</th>
                <th style="text-align: left">  {{localize "lsnpc.about.contribs.header.contact"}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Trazzm</td>
                <td>
                    <a href="https://discordapp.com/users/Trazzm#1390" title="Discord: Trazzm">
                        <i class="fab fa-discord"></i>
                    </a>
                    <a href="https://github.com/trazzm"><i class="fab fa-github"></i></a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</form>
